<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
</head>

<body>
    <h1>Login with Google</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <script>
        function onSignIn(googleUser) {
            const idToken = googleUser.getAuthResponse().id_token;
               console.log(idToken);
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ idToken })
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    window.location.href = "/profile"; // Redirect to profile page after successful login
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>

</html>